.footer ul li {
  padding-bottom: 10px;
  line-height: 1.2;
}

.ad-nav-bar .nav-item.dropdown .dropdown-submenu {
  width: 100%;
}
.ad-nav-bar .nav-item.dropdown .dropdown-submenu li {
  width: 33.33%;
  line-height: normal;
  min-height: unset !important;
}
.ad-nav-bar .nav-item.dropdown .dropdown-submenu li .dropdown-item p {
  max-width: unset;
}

.billingInfo-app-page {
  background-color: #f4f3f8;
  padding-top: 100px;
}
.billingInfo-app-page h2 {
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
}
.billingInfo-app-page .form-label {
  margin-bottom: 4px;
}
.billingInfo-app-page .link {
  color: #333333;
}
.billingInfo-app-page .link:hover {
  text-decoration: underline !important;
}
.billingInfo-app-page .list {
  padding-left: 40px;
  padding-right: 40px;
}
.billingInfo-app-page .content {
  margin-bottom: 30px;
}
.billingInfo-app-page .btn-submit {
  padding: 10px 40px;
  background-color: #000000;
}
.billingInfo-app-page .btn-submit:hover, .billingInfo-app-page .btn-submit:focus {
  opacity: 0.85;
  background-color: #000000;
}

.business-card-page {
  background-color: #000000;
}

.monetizes-podcast h3 {
  padding-top: 65px !important;
}

.pb-activity {
  min-height: 60px;
}
.pb-activity.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.podbean-in-the-media-page .list-group.fixed-top {
  top: 60px;
}
.podbean-in-the-media-page .list-group .container {
  padding: 1rem;
}
.podbean-in-the-media-page .list-group a {
  padding: 1rem 0;
}
.podbean-in-the-media-page .category-content {
  padding-bottom: 100px;
  margin-top: 100px;
}
.podbean-in-the-media-page .category-content h2 {
  padding-top: 114px;
  margin-top: -100px;
  margin-bottom: 50px;
  padding-bottom: 0;
  text-align: center;
}
.podbean-in-the-media-page .category-content .bg-empty-white, .podbean-in-the-media-page .category-content .bg-empty-gray {
  height: 0;
  display: none;
}
.podbean-in-the-media-page h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.nav-page-title {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  padding-top: 60px;
  left: 0;
  color: #ffffff;
}
.nav-page-title .bgc {
  background-color: #b0d359;
  text-transform: uppercase;
  list-style: none;
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}
.nav-page-title .bgc h1 {
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
}

.sub-processors-page tr td {
  font-size: 14px;
}

.company-landing-page-navbar .company-logo img {
  height: 44px;
  width: auto;
  position: relative;
  top: 3px;
}
.company-landing-page-navbar .company-menu .company-name-span li:last-child {
  border-bottom: 1px solid #e4e4e4;
  border-top: none;
}

.company-landing-page {
  height: auto;
  min-height: 100%;
}
.company-landing-page .btn {
  box-shadow: none !important;
}

/* vc-photoshop */
.vc-photoshop.cc-ps {
  border-radius: 0;
  background: #ffffff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25), 0 0px 12px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 99;
  width: 280px;
}
.vc-photoshop.cc-ps .vc-ps-head {
  display: none;
  box-shadow: none;
  background-image: none;
  border-radius: 0;
  border-bottom: 1px solid #707070;
  background-color: #ffffff;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.vc-photoshop.cc-ps .vc-ps-body {
  padding: 10px;
}
.vc-photoshop.cc-ps .vc-ps-actions {
  margin-left: 10px;
}
.vc-photoshop.cc-ps .vc-ps-saturation-wrap, .vc-photoshop.cc-ps .vc-ps-hue-wrap, .vc-photoshop.cc-ps .vc-ps-previews__swatches {
  border: 1px solid #cccccc;
}
.vc-photoshop.cc-ps .vc-ps-saturation-wrap, .vc-photoshop.cc-ps .vc-ps-hue-wrap {
  height: 148px;
}
.vc-photoshop.cc-ps .vc-ps-controls {
  margin-left: 4px;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-previews {
  display: none;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-previews .vc-ps-previews__label {
  color: #ffffff;
  font-size: 13px;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-previews .vc-ps-previews__pr-color {
  border-bottom: 1px solid #424242;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-previews .vc-ps-previews__pr-color:last-child {
  border-bottom: none;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-ac-btn {
  background-image: none;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  color: #333333;
  border-radius: 50px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  margin-bottom: 6px;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-ac-btn:last-child {
  border: 1px solid #7d7d7d;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-ac-btn:hover {
  background-color: #727272;
  color: #ffffff;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields {
  width: 72px;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields .vc-editable-input {
  display: flex;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields .vc-editable-input:nth-child(1), .vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields .vc-editable-input:nth-child(2), .vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields .vc-editable-input:nth-child(3) {
  display: none;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields .vc-input__label {
  width: 16px;
  color: #666666;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields .vc-input__input {
  border: 1px solid #dfdfdf;
  color: #333333;
  font-size: 12px;
  height: 16px;
  margin-left: 25%;
  padding-left: 6px;
  box-shadow: none;
  width: 55px;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields .vc-input__desc {
  right: 10px;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields__divider {
  height: 0px;
}
.vc-photoshop.cc-ps .vc-ps-controls .vc-ps-fields__hex .vc-input__input {
  box-shadow: none;
}

#Design .btn-check:focus + .btn, #Design .btn:focus {
  box-shadow: none;
}

.cc-login-left-menu li a {
  position: relative;
  display: inline-block !important;
}

.cc-pricing-plan .card .btn-free {
  padding: 12px 40px;
}
.cc-pricing-plan .one-items {
  padding-top: 24px;
}
.cc-pricing-plan ul {
  list-style: none;
  padding-left: 0 !important;
}
.cc-pricing-plan li {
  font-size: 0.857rem;
  color: #525252;
  padding-bottom: 4px;
  margin-bottom: 4px;
  list-style: none;
}
.cc-pricing-plan button .bi-info-circle {
  position: relative;
  top: -3px;
  font-size: 0.875rem;
}
.cc-pricing-plan .s-title {
  margin-top: 0 !important;
  margin-bottom: 7px;
}

.tooltip .tooltip-inner {
  padding: 10px 15px;
  max-width: 280px;
}

.page-theme-dark .tooltip {
  opacity: 1;
}
.page-theme-dark .tooltip .tooltip-arrow:before {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.page-theme-dark .tooltip .tooltip-inner {
  color: #000000;
  background-color: #ffffff;
}

.company-landing-page-banner {
  min-height: 440px;
  height: auto;
}
.company-landing-page-banner .banner-bg-mask {
  min-height: 440px;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .ad-nav-bar .navbar-nav .nav-item.dropdown .dropdown-menu li {
    width: 30.33%;
  }
  .new-header .navbar-brand img {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .company-landing-page-banner h1 {
    margin-top: 25px;
  }
  .company-landing-page-banner .company-description {
    -webkit-line-clamp: 3;
  }
}
@media (max-width: 991px) {
  .nav-page-title {
    padding-top: 50px;
  }
  .nav-page-title .bgc {
    height: 50px;
    line-height: 50px;
  }
  .nav-page-title .bgc h1 {
    font-size: 18px;
  }
  .ad-nav-bar #login {
    order: 5;
  }
  .ad-nav-bar .navbar-nav .nav-item.dropdown .dropdown-menu {
    height: auto !important;
  }
  .podbean-in-the-media-page .list-group.fixed-top {
    top: 50px;
  }
}
@media (max-width: 767.99px) {
  .company-footer {
    padding-bottom: 46px;
  }
  .podbean-in-the-media-page .list-group {
    display: none;
  }
  .podbean-in-the-media-page .category-content h2 {
    padding-top: 85px;
  }
}
@media (max-width: 599px) {
  .billingInfo-app-page .list {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style-append.css.map */
