*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-live .left-img .live-icon {
    bottom: 13.5%;
    right: 20.6%;
    z-index: 2;
    transform: scale(.35)
}

.home-live .h-live-img {
    position: absolute;
    bottom: 100px;
    left: -15.5%;
    right: 0;
    margin: 0 auto
}

.home-live .text-content {
    padding-left: 80px
}

.home-live .live-img {
    z-index: 2;
    max-width: 426px
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .home-live .left-img .live-icon {
        right: 16%
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home-live .left-img .live-icon {
        right: 9.6%
    }
}

@media only screen and (min-width: 599px) and (max-width: 992px) {
    .home-live .h-live-img {
        bottom: 125px
    }
    .home-live .left-img {
        max-width: 426px;
        margin-left: 100px !important
    }
    .home-live .left-img .live-icon {
        right: 6.5%
    }
}

@media (max-width: 992px) {
    .home-live .row {
        flex-direction: column-reverse
    }
    .home-live .text-content {
        padding-left: 0
    }
}

@media (max-width: 599px) {
    .live-svg {
        height: 46vw
    }
    .home-live .left-img {
        max-width: 426px;
        right: 0;
        left: 0;
        margin-left: -10px !important
    }
    .home-live .left-img .live-icon {
        right: 7%
    }
    .home-live .live-img {
        right: 0;
        left: 0;
        margin: 0 auto
    }
}

@media (max-width: 499px) {
    .home-live .left-img {
        margin-left: -90px !important
    }
}

@media (max-width: 425px) {
    .home-live .left-img {
        width: 375px;
        margin-left: -25px !important
    }
    .home-live .left-img .live-icon {
        right: 6%
    }
    .home-live .live-img {
        max-width: 355px
    }
}

.home-app .svg {
    width: 42px;
    text-align: right
}

.home-app .app-content,
.home-app .app-img-group {
    z-index: 2
}

.home-app .app-img-group .banner-mask {
    z-index: 4;
    left: 0;
    right: 0
}

.home-app #carouselAppSlidesOnly .carousel-inner {
    border-radius: 40px;
    max-width: 264px;
    margin: 0 auto;
    overflow: hidden
}

.home-app #carouselAppSlidesOnly .carousel-inner .slick-list {
    border-radius: 40px;
    margin-left: 3px
}

.home-app #carouselAppSlidesOnly .carousel-inner img {
    padding-top: 15px;
    border-radius: 35px;
    width: 249px;
    z-index: 2
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .home-app .fs-45 {
        font-size: 2.25rem
    }
}

@media (max-width: 992px) {
    .home-app #carouselAppSlidesOnly .carousel-inner {
        max-height: 565px
    }
}

@media (max-width: 767px) {
    .home-app .fs-45 {
        font-size: 1.5rem
    }
}

.home-source .svg {
    height: 43px
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .new-home-page .fs-50 {
        font-size: 2.5rem
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .new-home-page .fs-50 {
        font-size: 2.25rem
    }
}

.home-podcast-ai .pb-ai-img .ai-transcription {
    top: 38px;
    left: 65px
}

.home-podcast-ai .pb-ai-img .ai-preview {
    top: 52px;
    right: 31px
}

@media only screen and (min-width: 1201px) and (max-width: 1399px) {
    .home-podcast-ai .pb-ai-img .ai-transcription {
        left: -10px
    }
    .home-podcast-ai .pb-ai-img .ai-preview {
        right: -42px
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .home-podcast-ai .pb-ai-img .ai-transcription {
        max-width: 270px;
        left: -35px;
        top: 64px
    }
    .home-podcast-ai .pb-ai-img .ai-preview {
        max-width: 330px;
        right: -78px;
        top: 66px
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home-podcast-ai .pb-ai-img .ai-transcription {
        max-width: 236px;
        left: -30px;
        top: 68px
    }
    .home-podcast-ai .pb-ai-img .ai-preview {
        max-width: 248px;
        right: -28px;
        top: 86px
    }
}

@media (max-width: 992px) {
    .home-podcast-ai .pb-ai-img .home-ai-bg {
        width: 100% !important
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .home-podcast-ai .pb-ai-img .ai-transcription {
        max-width: 180px;
        left: -26px;
        top: 56px
    }
    .home-podcast-ai .pb-ai-img .ai-preview {
        max-width: 180px;
        right: -16px;
        top: 73px
    }
}

@media (max-width: 576px) {
    .home-podcast-ai .pb-ai-img {
        max-width: 357px;
        margin: 0 auto
    }
    .home-podcast-ai .pb-ai-img .home-ai-bg {
        width: 100% !important;
        max-width: 357px
    }
    .home-podcast-ai .pb-ai-img .ai-transcription {
        max-width: 118px;
        left: -13px;
        top: 47px
    }
    .home-podcast-ai .pb-ai-img .ai-preview {
        max-width: 121px;
        right: -7px;
        top: 60px
    }
}

/* Navbar  */

.navbar.custom-nav {
  width: 100%;
  padding: 0px 30px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #e0e0e0;
  z-index: 1000;
  height: 70px;
  transition: all 0.3s ease;

}
.nav-logo img {
  height: 65px;
  width: auto;
  object-fit: contain;
}
.nav-toggle-label {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 25px;
  gap: 5px;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 3px;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  position: relative;
}
.nav-toggle-label span::before {
  top: -8px;
}
.nav-toggle-label span::after {
  top: 8px;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: #222;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  padding-bottom: 4px;
}
.nav-links li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1694a0;
  transition: 0.3s ease;
}
.nav-links li a:hover::after {
  width: 100%;
}
@media (max-width: 992px) {
  .nav-toggle-label {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  #nav-toggle:checked ~ .nav-menu {
    max-height: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .nav-links {
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
    align-items: center;
  }
}
/* Navbar  */

.home-banner h1 {
    font-size: 4rem;
    color:white !important;
}
.home-banner p {
    color:white !important;
}

.home-banner .video-banner .video-item:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 6px);
    content: "";
    background-image: linear-gradient(to right, rgba(0, 0, 0, .28), rgba(0, 0, 0, .28))
}

.home-banner .video-banner .video-size{
    height: 700px
}

.home-banner .btn {
    padding: 19px 40px;
    color: white !important;
}

@media (max-width: 1400px) {
    .home-banner .text-content p div {
        display: inline !important
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .home-banner .text-content h1 {
        font-size: 3.75rem
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #header-menu-load {
        padding-right: 5px;
        padding-left: 5px
    }
    .home-banner .text-content h1 {
        font-size: 3rem
    }
    .home-banner .web-video .video-size,
    .home-banner .web-video .web-video-img {
        height: 820px
    }
    .new-header .nav-pills li .nav-link {
        margin-right: 5px;
        padding: 0 5px
    }
}

@media (max-width: 992px) {
    .home-banner .text-content h1 {
        font-size: 2.75rem
    }
    .home-banner .btn {
        font-size: 1rem !important;
        padding: 15px 30px
    }
    .home-banner .video-banner .web-video .video-size{
        height: 650px
    }
}

@media (max-width: 767.9px) {
    .home-banner .text-content h1 {
        font-size: 2rem
    }
}

@media (max-width: 575.9px) {
    .home-banner .mobile-video .video-size {
        height: 620px
    }
}

.home-feature .text {
    margin-left: 50px
}

.home-feature .create-img img,
.home-feature .promote-img img {
    width: 100%
}

.home-feature .wave2 {
    position: absolute;
    left: 22%;
    top: 32%;
    width: 20%
}

.home-feature .wave2>div {
    height: 40px
}

.home-feature .l-text {
    padding-right: 100px
}

.home-feature .promote-content {
    padding-top: 112px
}

.home-feature .promote-content .PromoteScale {
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-name: PromoteScale;
    -webkit-animation-name: PromoteScale
}

.home-feature .promote-content .google-podcasts {
    max-width: 50px;
    left: 14.5%;
    top: 20%;
    animation-duration: .9s;
    -webkit-animation-duration: .9s
}

.home-feature .promote-content .apple-podcasts {
    max-width: 80px;
    top: 53%;
    left: 3%;
    animation-duration: 1.25s;
    -webkit-animation-duration: 1.25s
}

.home-feature .promote-content .spotify {
    max-width: 80px;
    bottom: 4px;
    left: 22%;
    animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    animation-direction: alternate-reverse;
    -webkit-animation-direction: alternate-reverse
}

.home-feature .promote-content .facebook {
    max-width: 84px;
    top: 21%;
    right: 16%;
    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s
}

.home-feature .promote-content .twitter {
    max-width: 72px;
    right: 17%;
    bottom: 11%;
    animation-duration: 1.25s;
    -webkit-animation-duration: 1.25s
}

@keyframes PromoteScale {
    0% {
        transform: scale(.65);
        opacity: .5
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

.home-feature .monetize-content {
    padding-top: 130px
}

.home-feature .monetize-content .cc-z-index {
    z-index: 2
}

.home-feature .monetize-content .small-icons .icons {
    transition: opacity 1s;
    opacity: 0
}

.home-feature .monetize-content .small-icons .icons.current {
    opacity: 1
}

.home-feature .monetize-content .center-people {
    position: relative;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    max-width: 445px;
    max-height: 466px;
    border-radius: 100%
}

.home-feature .monetize-content .center-people img {
    width: 100%
}

.home-feature .feature-bg {
    z-index: -2;
    transform: translate(-65%, -26%) !important
}

.home-feature .one-image .one-left-svg-top {
    top: 20%;
    left: 9%
}

.home-feature .one-image .one-left-img {
    max-width: 226px;
    left: -15px !important
}

.home-feature .one-image .one-left-svg-bottom {
    left: 5%
}

.home-feature .one-image .one-right-img-bottom {
    max-width: 115px;
    bottom: -5px;
    right: 20.5%
}

.home-feature .one-image .one-right-img-top {
    max-width: 211px;
    top: 9%;
    right: -3%
}

.home-feature .one-image .one-right-svg {
    bottom: 25%;
    right: 8.5%
}

.home-feature .second-center,
.home-feature .one-center-img {
    max-width: 445px
}

.home-feature .second-image .second-left-top {
    left: 30px;
    top: 45px;
    max-width: 168px
}

.home-feature .second-image .second-left-svg {
    top: 58% !important
}

.home-feature .second-image .second-left-bottom {
    bottom: 8px;
    max-width: 161px;
    left: 13%
}

.home-feature .second-image .second-right {
    bottom: 20%;
    right: -20px;
    max-width: 212px
}

.home-feature .second-image .second-right-svg {
    top: 30%;
    right: 35px
}

@media (max-width: 1600px) {
    .home-feature .feature-bg {
        transform: translate(-55%, -26%) !important
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home-feature .feature-bg {
        transform: translate(-35%, -23%) !important
    }
    .home-feature .wave2 {
        width: 19%
    }
    .home-feature .wave2>div {
        height: 26px
    }
    .home-feature .wave2 .bar {
        width: 4px
    }
    .home-feature .promote-content .google-podcasts {
        max-width: 42px
    }
    .home-feature .promote-content .facebook {
        max-width: 60px
    }
    .home-feature .promote-content .spotify {
        max-width: 70px
    }
    .home-feature .promote-content .twitter {
        max-width: 44px
    }
    .home-feature .promote-content .apple-podcasts {
        max-width: 48px
    }
    .home-feature .monetize-content .second-center,
    .home-feature .monetize-content .one-center-img {
        width: 100% !important;
        max-width: 355px
    }
    .home-feature .monetize-content .center-people {
        max-width: 355px;
        max-height: 350px
    }
    .home-feature .monetize-content .one-image .one-left-img {
        max-width: 165px
    }
    .home-feature .monetize-content .one-image .one-right-img-top {
        max-width: 170px
    }
    .home-feature .monetize-content .one-image .one-right-img-bottom {
        max-width: 90px
    }
    .home-feature .monetize-content .one-image .one-left-svg-bottom {
        left: 0;
        bottom: -10px !important
    }
    .home-feature .monetize-content .one-image .one-right-svg {
        right: 6.5%
    }
    .home-feature .monetize-content .second-image .second-left-top {
        max-width: 128px
    }
    .home-feature .monetize-content .second-image .second-left-bottom {
        max-width: 124px
    }
    .home-feature .monetize-content .second-image .second-right {
        max-width: 170px
    }
    .home-feature .monetize-content .second-image .second-right-svg {
        top: 20%
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .home-feature h2.h1 {
        font-size: 2rem
    }
    .home-feature .wave2 {
        overflow: hidden
    }
    .home-feature .wave2>div {
        height: 32px
    }
    .home-feature .wave2 .bar {
        flex-shrink: 0;
        width: 2px;
        max-height: 20px !important
    }
}

@media (max-width: 992px) {
    .home-feature .feature-bg {
        transform: translate(-32%, -20%) !important
    }
    .home-feature .text {
        margin-left: 0
    }
    .home-feature .l-text {
        padding-right: 0
    }
}

@media (max-width: 768px) {
    .home-feature .create-content .c-left-images {
        padding: 0
    }
    .home-feature .wave2 {
        left: 21.4%;
        width: 19%;
        overflow: hidden
    }
    .home-feature .wave2>div {
        height: 32px
    }
    .home-feature .wave2 .bar {
        flex-shrink: 0;
        width: 2px;
        max-height: 20px !important
    }
    .home-feature .promote-content {
        padding-top: 70px
    }
    .home-feature .promote-content .google-podcasts {
        max-width: 44px
    }
    .home-feature .promote-content .spotify {
        max-width: 50px
    }
    .home-feature .promote-content .facebook {
        max-width: 56px
    }
    .home-feature .promote-content .twitter {
        max-width: 50px;
        right: 18%;
        bottom: 15%
    }
    .home-feature .promote-content .apple-podcasts {
        max-width: 56px
    }
    .home-feature .monetize-content {
        padding-top: 80px
    }
}

@media (max-width: 599px) {
    .home-feature .monetize-content .center-people {
        max-width: 260px;
        max-height: 254px
    }
    .home-feature .monetize-content .one-image .one-left-img {
        max-width: 107px;
        left: 5px !important
    }
    .home-feature .monetize-content .one-image .one-left-svg-top {
        width: 11px
    }
    .home-feature .monetize-content .one-image .one-right-img-top {
        max-width: 110px;
        right: 5px
    }
    .home-feature .monetize-content .one-image .one-right-img-bottom {
        max-width: 54px
    }
    .home-feature .monetize-content .one-image .one-left-svg-bottom {
        width: 80px;
        bottom: -20px !important
    }
    .home-feature .monetize-content .one-image .one-right-svg {
        width: 20px;
        height: 20px
    }
    .home-feature .monetize-content .second-image .second-left-top {
        max-width: 90px
    }
    .home-feature .monetize-content .second-image .second-left-svg {
        width: 46px;
        left: 5% !important
    }
    .home-feature .monetize-content .second-image .second-left-bottom {
        max-width: 80px
    }
    .home-feature .monetize-content .second-image .second-right {
        max-width: 105px;
        right: 5px
    }
    .home-feature .monetize-content .second-image .second-right-svg {
        top: 28%;
        width: 20px
    }
}

@media (max-width: 425px) {
    .home-feature .wave2 {
        width: 19%;
        overflow: hidden
    }
    .home-feature .wave2>div {
        height: 26px
    }
    .home-feature .wave2 .bar {
        max-height: 20px !important
    }
    .home-feature .promote-content .google-podcasts {
        max-width: 34px
    }
    .home-feature .promote-content .spotify {
        max-width: 46px
    }
    .home-feature .promote-content .facebook {
        max-width: 48px
    }
    .home-feature .promote-content .twitter {
        max-width: 40px
    }
    .home-feature .promote-content .apple-podcasts {
        max-width: 46px
    }
}

.home-website {
    margin-top: -1px
}

.home-website .container {
    position: relative;
    z-index: 2
}
.home-website .themes {
    background-color: #f6f6f6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 .2rem 1rem #00000026 !important
}

.home-website .themes>.row {
    height: 100%
}
.home-website .themes>.row video{
    border: 2px solid white;
    border-radius: 10px;
}
.home-website h2{
    color: #1694a0 !important;
}
.home-website p{
    color: white !important;
}
.home-analytics .left-line {
    position: absolute;
    right: -38%;
    top: 17%
}

.home-analytics .right-line {
    bottom: 12%;
    left: -50%
}

.home-analytics .img-left {
    position: absolute;
    right: -28%;
    max-width: 100%;
    bottom: 0
}

.home-analytics .img-right {
    margin-left: -32%;
    max-width: 222px
}

.home-analytics .link {
    margin-bottom: 36px
}

.home-analytics .img-center,
.home-analytics .img-center img {
    max-width: 100%
}

@media (min-width: 1920px) {
    .home-analytics .right-line {
        left: -42%
    }
}

@media (max-width: 1700px) {
    .home-analytics .img-right {
        max-width: 185px
    }
    .home-analytics .img-left {
        max-width: 198px
    }
    .home-analytics .right-line {
        bottom: 8%
    }
}

@media (max-width: 1580px) {
    .home-analytics .img-right {
        max-width: 160px
    }
    .home-analytics .img-left {
        max-width: 175px
    }
    .home-analytics .left-line {
        top: 12%
    }
}

@media (max-width: 1445px) {
    .home-analytics .left-line {
        width: 80%
    }
    .home-analytics .right-line {
        bottom: 4%;
        width: 90%
    }
}

@media (max-width: 1400px) {
    .home-analytics .left-line {
        width: 70%
    }
    .home-analytics .img-right {
        max-width: 135px
    }
    .home-analytics .img-left {
        max-width: 155px;
        bottom: -15px
    }
}

@media (max-width: 1200px) {
    .home-analytics h2 {
        font-size: 38px
    }
    .home-analytics .img-right {
        max-width: 110px
    }
    .home-analytics .left-line {
        top: 0
    }
    .home-analytics .right-line {
        bottom: 0;
        width: 80%
    }
}

@media (max-width: 992px) {
    .home-analytics .img-right {
        max-width: 98px
    }
}

@media (max-width: 768px) {
    .home-analytics h2 {
        font-size: 28px
    }
}

@media (max-width: 992px) {
    .home-faq svg {
        height: 12vw
    }
}

@media (max-width: 768px) {
    .home-faq .sub-text {
        font-size: 16px
    }
    .home-faq .accordion-flush .accordion-item .accordion-button {
        font-size: .875rem
    }
}

.home-newsletter .bg-navy-blue {
    border-radius: 12px
}
.home-newsletter h2{
    color: white !important;
}

.home-newsletter .btn {
    color: white !important;
    padding: 10px 28px
}
.home-newsletter p {
    color: white !important;
}

@media (max-width: 992px) {
    .home-newsletter .btn {
        font-size: 1rem !important;
        padding: 15px 28px
    }
}

@media (max-width: 768px) {
    .home-newsletter h2 {
        font-size: 1.75rem
    }
    .home-newsletter .news-butoon {
        text-align: left !important
    }
}

img {
    width: 100%;
    height: auto
}



/* Footer */
.custom-footer {
  background-color: #111;
  color: #eee;
  padding: 60px 20px 30px;
  border-top: 1px solid white;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-col {
  flex: 1 1 250px;
  min-width: 200px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 20px;
}
.social-icons{
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-direction: row;
}
.social-icons a{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    height: 25px;
    width: 25px;
    transition: all 0.3s;
}
.social-icons a:hover{
    background-color: #1694a0;
}
.social-icons a img {
    height: 100%;
    width: 100%;
    transition: all 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.footer-col h5 {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 15px;
  color: #fff;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #4ac8cc;
  text-decoration: underline;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.contact-info img {
  width: 20px;
  margin-right: 10px;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #bbb;
}




/* Whatsapp Popup */
#whatsapp-popup-main-container {
  height: fit-content;
  width: 250px;
  position: fixed;
  padding: 10px;
  bottom: 10px;
  left: 10px;
  background-color: rgb(255, 255, 255);
  display: none;
  flex-direction: column;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  justify-content: center;
  z-index: 99999;
  align-items: center;
}
#whatsapp-popup-main-container span {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-weight: 900;
  color: #121216;
}
#whatsapp-popup-main-container span:hover {
  color: #000;
}
#whatsapp-icon-container {
  height: 45px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#whatsapp-icon-container img {
  height: 30px;
  width: auto;
}
#whatsapp-icon-container a {
  color: #000;
  font-size: medium;
  font-weight: 600;
  text-decoration: none;
}
#whatsapp-icon-container a:hover {
  text-decoration: underline;
}
#whatsapp-popup-main-container p {
  color: #333;
  font-size: small;
  font-weight: 400;
  width: 90%;
  text-align: center;
}
@media (max-width: 600px) {
  #whatsapp-popup-main-container {
    padding: 5px;
    width: 200px;
  }
  #whatsapp-popup-main-container p {
    font-size: x-small;
    margin: 0;
  }
  #whatsapp-icon-container img {
    height: 20px;
  }
  #whatsapp-icon-container a {
    color: #000;
    font-size: small;
  }
  #whatsapp-icon-container {
    height: 30px;
  }
}

/* Whatsapp */
.whatsapp-widget {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whatsapp-icon {
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-icon:hover {
  transform: scale(1.1) rotate(-5deg);
  
}
#icon-text img {
  height: 60px;
  width: 90px;
  animation: brightenScale 3s ease-in-out infinite;
  transition: filter 0.3s ease, transform 0.3s ease;
  animation-play-state: running;
}

#icon-text img:hover {
  animation-play-state: paused;    
  filter: brightness(1.3);
  transform: scale(1.1);
}


@keyframes brightenScale {
  0%, 100% {
    filter: brightness(1);
    transform: scale(1);
  }
  50% {
    filter: brightness(1.3);
    transform: scale(1.1);
  }
}


@media (min-width: 2000px) {
  #icon-text img {
    height: 100px;
    width: auto;
  }
}
@media (max-width: 480px) {
  .whatsapp-icon {
    padding: 0px;
    font-size: 26px;
  }
  .whatsapp-popup {
    width: 250px;
  }
  .whatsapp-widget {
    bottom: 20px;
    right: 0px;
  }
  #icon-text img {
    height: 50px;
    width: 80px;
  }
  #backtotop-main-container {
    bottom: 80px;
    right: 20px;
  }
}

#whatsapp-a img {
  height: 100%;
  width: 30%;
}

/* <!-- Back To Top --> */

#backtotop-main-container {
  position: fixed;
  bottom: 100px;
  right: 40px;
  display: none;
  z-index: 1000;
}
#back-to-top-btn {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  font-weight: 900;
  transition: all 1s;
  justify-content: center;
  align-items: center;
}
#back-to-top-btn:hover {
  background-color: #000;
}
@media (min-width: 1800px) {
  #backtotop-main-container {
    bottom: 120px;
  }
  #back-to-top-btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }
}
@media (min-width: 3000px) {
  #backtotop-main-container {
    bottom: 120px;
  }
  #back-to-top-btn {
    height: 50px;
    width: 50px;
    font-size: 25px;
  }
}
/* <!-- Back To Top --> */